# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[bmGameAnalytics]
GameKey="game_key"
SecretKey="secret_key"
CustomDimensions01="dim11,dim12,dim13"
CustomDimensions02="dim21,dim22,dim23"
CustomDimensions03="dim31,dim32,dim33,dim34,dim35,dim36"
CustomDimensions03_part2="dim37,dim38,dim39,dim310,dim311,dim312,dim313,dim314,dim315,dim316,dim317,dim318,dim319,dim320"
ResourceCurrencies="currency1,currency2,currency3"
ResourceCurrencies_part2="currency4,currency5,currency6"
ResourceItemTypes="type1,type2,type3"